<!DOCTYPE html>
<html>
<head>
  <title>EspinozaBrand Web Design & Development</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
 <% if notice %>
   <div id="notice-wrapper">
     <p class="notice"><%= notice %></p>
   </div>
 <%elsif alert%>
   <div id="notice-wrapper">
     <p class="alert"><%= alert %></p>
   </div>
 <%end%>
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to image_tag("logo7-NEW-white.png", :alt => "EspinozaBrand"), root_path, :class => "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-demo">
  <li>
    <div class="user-view">
      <img class="responsive-img" src="assets/logo7-NEW.png" style="max-width: 100px;">
      <h4>MENU</h4>
      <hr>
    </div>
  </li>
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About Us</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#contact">Contact Us</a></li>
</ul>
<script>
    $(".button-collapse").sideNav();;
</script>

<%= yield %>
<footer class="footer">
  <div class="container">
    <p>© 2017 - EspinozaBrand - Website Design and Developed by <a href="http://espinozabrand.com">Us</a></p>
  </div>
</footer>

<script src="https://use.typekit.net/lom6zip.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
