<!DOCTYPE html>
<html>
<head>
  <title>EspinozaBrand Web Design & Development</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to image_tag("logo7-NEW-white.png", :alt => "EspinozaBrand"), root_path, :class => "brand-logo" %>
        <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons dehaze" style="color: #fff;">dehaze</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Home", root_path %></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<%= yield %>
<footer class="footer">
  <div class="container">
    <p>© 2017 - EspinozaBrand - Website Design and Developed by <a href="http://espinozabrand.com">Us</a></p>
  </div>
</footer>
<script>
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
</script>

<script src="https://use.typekit.net/lom6zip.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
